[Unit]
Description=SMS Pi Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/start.sh

[Install]
WantedBy=multi-user.target